<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tienda de poleras</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" integrity="sha512-EzMAIiCZvGJHtbvpEiWyD8WgEy52yvPN2+sGIOtX9T/bN7iZzOwQVH0cB+KY+CgkMhBRE/VDGdY1Xirhmd6OKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <!-- Encabezado -->
  <div class="container my-5">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1>¡Bienvenido al rincón de las poleras!</h1>
        <p>Encontrarás una gran variedad de diseños y estilos para todos los gustos.</p>
        <a href="/products" class="btn btn-primary">Ver productos</a>
      </div>
      <div class="col-12 col-md-6">
        <img src="https://i.ibb.co/5MqzZMd/zyro-image-1.jpg" alt="Imagen de poleras" class="img-fluid" style="max-width: 80%;">
      </div>
    </div>
  </div>
<!-- Sección de contacto -->
<div class="container-fluid bg-dark text-light py-5">
  <div class="row">
    <div class="col-12 col-md-6">
      <h2>Contáctanos</h2>
      <p>Si tienes alguna pregunta o comentario, no dudes en contactarnos.</p>
      <ul class="list-unstyled">
        <li><i class="bi bi-telephone me-2"></i> +56 9 12345678</li>
        <li><i class="bi bi-envelope me-2"></i> poleras@tiendadepoleras.com</li>
        <li><i class="bi bi-geo-alt me-2"></i> Monseñor Carlos Casanueva 547, Macul, Región Metropolitana, Chile</li>
      </ul>
    </div>
</div>

